body {
    margin: 0;
    font-family: 'Segoe UI',sans-serif;
    background: #eef4ea;
    color: #222;
}

header {
    background: linear-gradient(135deg,#1b5e20,#43a047);
    color: white;
    text-align: center;
    padding: 35px;
    box-shadow: 0 3px 15px rgba(0,0,0,.2);
}

    header h1 {
        margin: 0;
        font-size: 42px;
    }

nav {
    background: #184c1d;
    padding: 18px;
    text-align: center;
}

    nav a {
        color: white;
        text-decoration: none;
        margin: 15px;
        font-size: 18px;
        transition: .3s;
    }

        nav a:hover {
            color: #ffd54f;
        }

.hero {
    background: linear-gradient( rgba(0,0,0,.45), rgba(0,0,0,.45)), url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 120px 20px;
    text-align: center;
    color: white;
}

    .hero h2 {
        font-size: 48px;
        margin: 0;
    }

    .hero p {
        font-size: 22px;
    }

section {
    padding: 50px;
    text-align: center;
}

.catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    background: white;
    width: 260px;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 6px 20px rgba(0,0,0,.15);
    transition: .35s;
}

    .card:hover {
        transform: translateY(-10px);
    }

button {
    background: linear-gradient( 135deg, #2e7d32, #43a047);
    color: white;
    border: none;
    padding: 14px 22px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
}

    button:hover {
        transform: scale(1.05);
    }

footer {
    background: #184c1d;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* форма */
input,
textarea {
    width: 90%;
    padding: 12px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

textarea {
    height: 120px;
    resize: none;
}

/* отзывы */
.review-card {
    background: white;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    text-align: left;
    animation: fade .4s;
}

    .review-card h3 {
        margin-top: 0;
        color: #2e7d32;
    }

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
